@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); /* Roboto thin italics */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Montserrat */
/* Guidelines */
/* text under pic padding-bottom: 25px; 
pic space between: 15px
remove 10px under for top pic
*/



html,body
{
    margin: 0px;
    background-color: #151515;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.body {
    margin: 0;
    border: none;
    font-size: 0;
}

* { 
    margin: 0; /* removes white bar on top */
    box-sizing: border-box;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 70px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #212121; 
    border-radius: 70px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a417ff; 
    border: 0.25px solid #ff2088;
    box-shadow: 0 0 20px #ff17b9, 0 0 20px #ff17ec, 0 0 20px #ff17b9;
    border-radius: 70px;
}




/* nav bar */
.nav, .navbar-nav {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    justify-content: flex-end;
    float: right;
  }
  
  .nav a {
    color: #f0f0f0;
    margin-left: 10px;
  }
  
  .nav a:hover {
    background-color: transparent !important;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
    font-style: italic;
  }
  
  .nav:hover {
    background-color: transparent;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .nav li:hover a {
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .navbar-expand-md {
      justify-content: flex-end;
  }
  
  
  /* Mode */
  .dropdown { /* mode tab itself minus dropdown */
    font-style: normal;
  }
  
  .dropdown-menu { /* white hover box */
    text-decoration: none;
    background-color: transparent !important;
  }
  
  .dropdown-menu li a {
    color: #646464;
  }
  
  .dropdown-menu li { /* font size for collapse options */
    background-color: #212121;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
  }
  
  /*.dropdown-menu a {
    opacity: 50%;
  } */
  
  .dropdown-menu a:hover {
    color: #f0f0f0;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
    opacity: 100%;
  }
  
  .dropdown-menu li:hover a { /*when hovered over, single choice stays white */
    background-color: transparent !important;
    font-style: italic;
  
    color: #f0f0f0;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
  }
  
  .dropdown-menu li:hover a { 
    background-color: transparent !important;
    font-style: italic;
  }
  
  .dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:visited { /* makes mode font white */
    color: #f0f0f0;
    background-color: transparent !important;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}








footer {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
    background-color: #151515;
    color: #f0f0f0;
}

/* social media buttons */
.fa:hover {
    transition: 0.4s;
    color: #f0f0f0;
    text-decoration: none;
}  

.fa-envelope {
    background: #151515;
    color: #f0f0f0;
}

.fa-envelope:hover {
    background: #ad3f2b;
    color: #f0f0f0;
}

.fa-linkedin {
    background: #151515;
    color: #f0f0f0;
}

.fa-linkedin:hover {
    background: #0e76a8;
    color: #f0f0f0;
}

.fa-dribbble {
    background: #151515;
    color: #f0f0f0;
}

.fa-dribbble:hover {
    background: #ea4c89;
    color: #f0f0f0;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}

.social-icons li
{
  display:inline-block;
}

.fa {
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .4s linear
}

footer .social-icons
{
    text-align:right
}

.social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#151515;
}

footer p {
    font-family: Roboto;
    font-weight: 100;
    display: inline-block;
    text-align: left;
    padding-right: 1030px;
    color: #f0f0f0;
    font-size: 15px;
} 








  




.container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.rPad {
    padding-left: 175px;
    padding-right: 175px;
    font-family: Roboto;
    font-weight: 500;
}






.lineTop {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px -2px 12px #d817ff;
    margin-top: 10px;
}

.lineBottom {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px 2px 12px #d817ff;
    margin-top: 17px;
}

h1 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    color: #f0f0f0;
    text-align: center;
    
    margin-top: 15px;
}

.titleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 45%;
}

.depop1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 15px;
}









/* Background */
h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    color: #f0f0f0;

    margin-top: 20px;
    text-align: center;
}

.lineTopBG, .lineTopResearch, .lineTopProcess, .lineTopConclusion {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px -2px 12px #d817ff;
    margin-top: 80px;

    margin-left: auto;
    margin-right: auto;
}

.lineBottomBG, .lineBottomResearch, .lineBottomProcess, .lineBottomConclusion {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px 2px 12px #d817ff;
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 3.4vh;
    color: #f0f0f0;
    text-align: left;
    padding-top: 40px;
}

h3.UB {
    margin-top: -35px;
}

p {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px; 
    margin-top: 3px;
    line-height: 30px;
}

.text a {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.text a:hover {
    font-style: italic;
    text-shadow: 4px 2px 7px rgb(166, 33, 255);
    transition: 0.4s;
}









.research {
    width: 100%;
    height: 380vh;
    display: block;
}

.researchText {
    width: 100%;
    height: 380vh;
    padding-left: 180px;
    padding-right: 181px;
}

.researchText h2, .processText h2, .conclusionText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #ececec;

    margin-top: 20px;
    text-align: center;
}

.researchText h3, .processText h3, .conclusionText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #ececec;
    text-align: left;
    padding-top: 40px;
}

.researchText p, .processText p, .conclusionText p {
    color: #ececec;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}

.compAnalysis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 75%;
}

.affinity {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}

.storyboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.persona1, .persona2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 49%;
}














.process {
    width: 100%;
    height: 770vh;
    display: block;
}

.processText {
    width: 100%;
    height: 775vh;
    padding-left: 180px;
    padding-right: 181px;
}


.wireframes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 55%;
}

.homeLow, .searchLow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 55%;
}

.ssLow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}

.homeHigh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 55%;
}

.searchHigh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}

.ssHigh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.final1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    width: 55%;
}

.final2, .final3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    width: 55%;
}

.homeGif {
    display: inline-block;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 100px;
    width: 26%;
}

.searchGif, .scanGif {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 26%;
}
















.conclusion {
    width: 100%;
    height: 70vh;
    display: block;
}

.conclusionText {
    width: 100%;
    height: 70vh;
    padding-left: 180px;
    padding-right: 181px;
}










@media only screen and (max-width: 576px) { /* Pixel 2 */
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }


    footer p {
        padding-right: 0;
        margin-top: 100px;
    }

    footer {
        padding-right: 55px;
    }

    footer .social-icons {
        text-align: right;
        margin-left: -40px;
    }

    .social-icons li {
        padding-left: 0;
        padding-right: 0;
    }

    



    h3 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
        line-height: 20px;
    }


    /* 1 */
    .lineTopBG {
        margin-top: 80px;
    }

    .titleImg, .depop1 {
        width: 100%;
    }

    .publishP {
        font-size: 1em;
    }



    /* 2 */
    .lineTopResearch {
        margin-top: 50px;
    }

    .compAnalysis, .affinity, .storyboard {
        width: 90%;
    }

    .storyboard {
        margin-bottom: 10px;
    }

    .persona1, .persona2 {
        width: 90%;
        padding-top: 5px;
        margin-left: 20px;
    }

    


    /* 3 */
    .lineTopProcess {
        margin-top: 50px;
    }

    .wireframes, .homeLow, .searchLow, .ssLow,
    .homeHigh, .searchHigh, .ssHigh,
    .final1, .final2, .final3 {
        width: 90%;
    }

    .ssLow, .ssHigh {
        margin-bottom: 10px;
    }

    .ssHigh {
        margin-top: -20px;
    }

    .homeGif, .searchGif, .scanGif {
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
        width: 32.7%;
    }
   



    /* 4 */
    .lineTopConclusion {
        margin-top: 50px;
    }
}



@media only screen and (min-width: 1920px) { /* desktop */
    footer {
        margin-top: 100px;
        padding-bottom: 0px;
    }

    footer p {
        padding-right: 1520px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 32px;
    }
}
