@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); /* Roboto thin italics */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Montserrat */

/* Guidelines */
/* text under pic padding-bottom: 25px;
pic space between: 15px
*/



html,body
{
    margin: 0px;
    background-color: #151515;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.body {
    margin: 0;
    border: none;
    font-size: 0;
}

* { 
    margin: 0; /* removes white bar on top */
    box-sizing: border-box;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 70px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #212121; 
    border-radius: 70px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a417ff; 
    border: 0.25px solid #ff2088;
    box-shadow: 0 0 20px #ff17b9, 0 0 20px #ff17ec, 0 0 20px #ff17b9;
    border-radius: 70px;
}




/* nav bar */
.nav, .navbar-nav {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    justify-content: flex-end;
    float: right;
  }
  
  .nav a {
    color: #f0f0f0;
    margin-left: 10px;
  }
  
  .nav a:hover {
    background-color: transparent !important;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
    font-style: italic;
  }
  
  .nav:hover {
    background-color: transparent;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .nav li:hover a {
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .navbar-expand-md {
      justify-content: flex-end;
  }





footer {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
    background-color: #151515;
    color: #f0f0f0;
}

/* social media buttons */
.fa:hover {
    transition: 0.4s;
    color: #f0f0f0;
    text-shadow: none;
    font-style: normal;
    text-decoration: none;
}  

.fa-envelope {
    background: #151515;
    color: #f0f0f0;
}

.fa-envelope:hover {
    background: #ad3f2b;
    color: #f0f0f0;
}

.fa-linkedin {
    background: #151515;
    color: #f0f0f0;
}

.fa-linkedin:hover {
    background: #0e76a8;
    color: #f0f0f0;
}

.fa-dribbble {
    background: #151515;
    color: #f0f0f0;
}

.fa-dribbble:hover {
    background: #ea4c89;
    color: #f0f0f0;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}

.social-icons li
{
  display:inline-block;
}

.fa {
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .4s linear
}

footer .social-icons
{
    text-align:right
}

.social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#151515;
}

footer p {
    font-family: Roboto;
    font-weight: 100;
    display: inline-block;
    text-align: left;
    padding-right: 1030px;
    color: #f0f0f0;
    font-size: 15px;
}
  







.container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.rPad {
    padding-left: 50px;
    padding-right: 50px;
}

.col-sm-4 {
    padding-left: 50px;
}

.w-100 {
    display: inline-flex;
}

.colBody {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}





.lineTop {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px -2px 12px #d817ff;
    margin-top: 10px;
}

.lineBottom {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px 2px 12px #d817ff;
    margin-top: 17px;
}

h1 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    color: #f0f0f0;
    text-align: center;
    
    margin-top: 15px;
}

h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    color: #f0f0f0;

    margin-top: 20px;
    margin-left: 50px;
}


.desc {
    padding-left: 100px;
}

.desc a {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw; 

    position: absolute;
}

a:hover {
    font-style: italic;
    text-decoration: none;
    color: #f0f0f0;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
}



/* Mobile/Web Design */
.atthetable {
    width: 102%;
}

.breaktime {
    width: 184%;
}

.teamMeets {
    width: 145%;
}

.RX {
    width: 184%;
    padding-left: 140px;
}

.watchover {
    width: 140%;
}

.shop808 {
    width: 222%;
    padding-left: 130px;
}

.siria {
    width: 161%;
}

.silverCrescent {
    width: 222%;
    padding-left: 190px;
}


/* Graphics */
.MegTheeStallion {
    width: 112%;
}



/* Typography */
.crazy {
    width: 100%;
}

.divine {
    width: 100%;
}



/* Illustrations */
.isotropic {
    width: 100%;
}




























@media only screen and (max-width: 400px) {
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }
}



@media only screen and (max-width: 576px) { /* Pixel 2 */
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }

    .col-sm-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .w-100 {
        display: none;
    }

    .colBody {
        padding-bottom: 50px;
    }

    footer p {
        padding-right: 0;
        margin-top: 100px;
    }

    footer {
        padding-right: 55px;
    }

    footer .social-icons {
        text-align: right;
    }

    .social-icons li {
        padding-left: 0;
        padding-right: 0;
    }




    h2 {
        text-align: center;
        margin-left: 0px;
    }

    .desc {
        padding-left: 20px;
    }

    .desc a {
        font-size: 3.8vw;
        margin-left: 40px;
        position: none;
    }



    /* mobile - web */
    .breaktime{
        width: 100%;
        padding-top: 10px;
    }

    .teamMeets {
        width: 100%;
        padding-top: 10px;
    }

    .RX {
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .watchover {
        width: 97%;
        padding-left: 0px;
        padding-top: 10px;
    }

    .shop808 {
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
    }
    

    /* graphics */
    .MegTheeStallion {
        width: 100%;
    }

    /* typography */
    .divine {
        width: 100%;
        padding-top: 10px;
    }

    /* illustrations */
}






@media only screen and (min-width: 1920px) { /* desktop */
    footer {
        margin-top: 100px;
    }

    footer p {
        padding-right: 1520px;
    }

    .w-100 {
        display: inline-flex;
    }


    /* web/mobile */
    .teamMeets {
        width: 142%;
        padding-top: 10px;
    }

    .RX {
        width: 183%;
        padding-left: 215px;
        padding-top: 10px;
    }
    
    .watchover {
        width: 130%;
        padding-top: 10px;
    }

    .shop808 {
        width: 203%;
        padding-left: 170px;
        padding-top: 10px;
    }

    /* graphics */
    .MegTheeStallion {
        width: 160%;
    }

    /* illustrations */
    .isotropic {
        width: 115%;
    }

    .desc {
        position: absolute;
        margin-top: 3000px;
        width: 900px;
    }

    .desc a {
        position: none;
        font-size: 1.5vw;
    }
}
