@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); /* Roboto thin italics */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Montserrat */

html,body
{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-color: #1f1f1f;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 70px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #3a3a3a; 
    border-radius: 70px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffff00; 
    border: 0.25px solid #0000ff;
    box-shadow: 0 0 20px #2617ff, 0 0 20px #ffd417, 0 0 20px #17b6ff;
    border-radius: 70px;
}






.body {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    overflow: hidden;
}

* { 
    margin: 0; /* removes white bar on top */
    box-sizing: border-box;
} 








/* nav bar */
.nav, .navbar-nav {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    justify-content: flex-end;
    float: right;
}

.nav a {
    color: #ffffff;
    margin-left: 10px;
}

.nav a:hover {
    background-color: transparent !important;
    text-shadow: 5px 3px 8px #ffdc17;
    transition: 0.4s;
    font-style: italic;
    cursor: pointer;
}

.nav:hover {
    background-color: transparent;
}

.navbar-collapse {
    justify-content: flex-end;
    color: #ffffff;
    background-color: transparent;
}

.nav li:hover { /* individual hovering text underline appears */
    text-decoration: underline;
}

.nav li:hover a {
    color: #f0f0f0;
    background-color: transparent;
}

.navbar-expand-md {
    justify-content: flex-end;
}


/* Mode */
.dropdown { /* mode tab itself minus dropdown */
  font-style: normal;
}

.dropdown-menu { /* white hover box */
  text-decoration: none;
  background-color: transparent !important;
}

.dropdown-menu li a {
  color: #000000;
}

.dropdown-menu li { /* font size for collapse options */
  background-color: #2a5a99;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
}

/*
.dropdown-menu a {
  opacity: 50%;
} */

.dropdown-menu a:hover {
  color: #ffffff;
  text-shadow: 5px 3px 8px #ffdc17;
  transition: 0.4s;
  opacity: 100%;
}

.dropdown-menu li:hover a { /*when hovered over, single choice stays white */
  background-color: transparent !important;
  font-style: italic;

  color: #ffffff;
  text-shadow: 5px 3px 8px #ffdc17;
  transition: 0.4s;
  text-decoration: underline;
}

.dropdown-menu li:hover a { 
  background-color: transparent !important;
  font-style: italic;
}

.dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:visited { /* makes mode font white */
  color: #ffffff;
  background-color: transparent !important;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
}










.box1 {
    width: 390px;
    height: 290px;
    position: relative;

    top: -20px;
    left: 330px;

    text-align: center;
}

.box1:hover {
    animation: wiggleB1 0.6s infinite;
    animation-direction: alternate;
}

@keyframes wiggleB1 {
    from {bottom: -20px;} to {top: -60px;}
}

.b1 {
    width: 420px;
    height: 300px;
    position: relative;
} 

.box1 h1 {
    position: absolute; 
    font-size: 8vw; 
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    color: #000000;

    top: 70px;
    left: 140px;
    text-align: center;
}





.box2 {
    width: 470px;
    height: 290px;
    position: relative;

    top: -100px;
    left: 660px;
}

.box2:hover {
    /*margin-left: 20px;
    transition: 0.2s;
    transition-delay: 0.2s; */
    animation: wiggleB2 0.6s infinite;
    animation-direction: alternate;
}

@keyframes wiggleB2 {
    from {left: 680px;} to {left: 730px;}
}

.b2 {
    width: 470px;
    height: 300px;
    position: relative;
}

.box2 h1 {
    position: absolute; 
    font-size: 5vw; 
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    color: #000000;

    left: 80px;
    top: 100px;
    text-align: center;
}








.box3 {
    width: 440px;
    height: 290px;
    position: relative;

    top: -315px;
    left: 207px;
}

.box3:hover{
    animation: wiggleB3 0.6s infinite;
    animation-direction: alternate;
}

@keyframes wiggleB3 {
    from {right: 0px;} to {left: 100px;}
}

.b3 {
    width: 470px;
    height: 300px;
    position: absolute;
}

.box3 h2 {
    position: absolute; 
    font-size: 2vw; 
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    color: #000000;

    left: 50px;
    top: 100px;
    word-wrap: break-word;
}











.col-sm-6 {
    display: flex;
    padding-bottom: 70px;
}

.Portfolio:after {
    content: "";
    display: table;
    clear: both;
}

.b4 {
    width: 540px;
    height: 570px;
    position: relative;
    margin-left: 120px;
    margin-top: -40px;
}

.mfp {
    width: 500px;
    height: 497px;
    position: absolute;
    z-index: 1;
    margin-top: 12px;
    margin-left: 140px;
}



.b5 {
    width: 450px;
    height: 300px;

    position: relative;

    margin-top: 20px;
    margin-left: 60px;
} 

.b5Text {
    width: 390px;
    height: 150px;
    position: absolute;

    margin-top: 100px;
    margin-left: 90px;
    
    text-align: center;
}

.b5Text p {
    visibility: hidden;
}

.b5Text:hover{
    width: 415px;
    height: 240px;
    margin-top: 62px;
    margin-left: 78px;
    background-color: #110f11;
    transition: ease-in 0.2s;

    padding-left: 5px;
    padding-right: 5px;
}

.b5Text:hover p {
    color: #ffffff;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.9vw;
    text-align: center;
    visibility: visible;
    margin-top: -80px;
}

.b5Text:hover h3{
    visibility: hidden;
}

.b5Text h3 {
    font-size: 3.7vw; 
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    color: #000000;
}






.goBtn {
    display: inline-block;
    
	color:#000000;
	font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    /*font-size: 2vw;  */
    font-size: 30px;
    
    border-radius: 42px;
	padding: 19px 70px;
	text-decoration: none; 

    margin-left: -302px;
    margin-top: 380px;
    position: relative;

    overflow: hidden;
    transition: 0.2s;

    background-color: #eed810;
    border: 0.25px solid #0000ff;
    box-shadow: 0 0 1px #fffb17, 0 0 3px #177cff, 0 0 15px #ffc117;
}

.goBtn:hover {
    color:#ffffff;
    background: #0000ff;
    box-shadow: 0 0 10px #173aff, 0 0 40px #1797ff, 0 0 80px #173aff;

    transition-delay: 0.1s;
    text-decoration: none;
}







.scroll {
    color: #000000;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #ffdc17;
    border-radius: 30px;
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: #ffdc17;
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}










@media only screen and (max-width: 400px) {
    .body {
        margin: 0;
        padding: 0;
        border: none;

        overflow: visible;
    }


	
    .row {
        margin-left: -15px;
    }

    .container-fluid {
        margin-left: -25px;
    }
	

	
    .box1 {
        width: 330px;
        height: 240px;

        text-align: center;
    }

    .box1:hover {
        animation: none;
    }

    .b1 {
        display: inline-block;
        width: 310px;
        height: 220px;
        margin-left: 80px;
        position: relative;
    } 
    
    .box1 h1 {
        position: absolute; 
        font-size: 5em;
    
        text-align: center;
        margin-left: 55px;
        margin-top: 5px;
    }



    .box2 {
        width: 330px;
        height: 210px;
        margin-left: -660px;
        margin-top: 150px;
        text-align: center;
    }

    .b2 {
        display: inline-block;
        width: 310px;
        height: 200px;
        position: relative;

    }

    .box2:hover {
        animation: none;
    }

    .box2 h1 {
        position: absolute; 
        font-size: 3em;
    
        text-align: center;
        margin-top: -20px;

    }



    .box3 {
        width: 300px;
        height: 190px;
        margin-left: -200px;
        margin-top: 210px;
        text-align: center;
    }

    .b3 {
        display: inline-block;
        width: 320px;
        height: 210px;
        position: relative;
    }

    .box3:hover {
        animation: none;
    }

    .box3 h2 {
        position: absolute; 
        font-size: 1.5em;
    
        text-align: center;
        margin-left: -23px;
        margin-top: -10px;
    }



    .b4 {
        width: 340px;
        height: 370px;
        position: relative;
        margin-left: -20px;
        margin-top: -40px;
    }

    .mfp {
        width: 315px;
        height: 323px;
        position: absolute;
        z-index: 1;
        margin-top: -6px;
        margin-left: -7px;
    }

    .b5Text {
        width: 300px;
        height: 50px;
        position: absolute;

        margin-top: 30px;
        margin-left: 1px;
        
        text-align: center;
    }

    .b5 {
        width: 330px;
        height: 220px;
        margin-top: -55px;
        margin-left: -15px;
    }

    .b5Text h3 {
        font-size: 1.7em;
        text-align: center;
    }

    .b5Text:hover{
        width: 305px;
        height: 175px;
        margin-top: -24px;
        margin-left: -2px;
        background-color: #110f11;
        transition: ease-in 0.2s;
    
        padding-left: 5px;
        padding-right: 5px;
    }

    .b5Text:hover p {
        font-size: 1em;
        text-align: center;
        visibility: visible;
        margin-top: 20px;
    }



    .goBtn {
        display: inline-block;
        font-size: 2em;
        
        margin-left: -250px;
        margin-top: 200px;
        position: relative;

        border-radius: 39px;
	    padding: 15px 67px;
    }
}



@media only screen and (max-width: 576px) {
    .body {
        margin: 0;
        padding: 0;
        border: none;

        overflow: visible;
    }



    .box1 {
        width: 330px;
        height: 240px;

        text-align: center;
    }

    .box1:hover {
        animation: none;
    }

    .b1 {
        display: inline-block;
        width: 310px;
        height: 220px;
        margin-left: 108px;
        position: relative;
    } 
    
    .box1 h1 {
        position: absolute; 
        font-size: 5em;
    
        text-align: center;
        margin-left: 85px;
        margin-top: 5px;
    }



    .box2 {
        width: 330px;
        height: 210px;
        margin-left: -630px;
        margin-top: 150px;
        text-align: center;
    }

    .b2 {
        display: inline-block;
        width: 310px;
        height: 200px;
        position: relative;

    }

    .box2:hover {
        animation: none;
    }

    .box2 h1 {
        position: absolute; 
        font-size: 3em;
    
        text-align: center;
        margin-top: -20px;

    }



    .box3 {
        width: 300px;
        height: 190px;
        margin-left: -182px;
        margin-top: 210px;
        text-align: center;
    }

    .b3 {
        display: inline-block;
        width: 340px;
        height: 210px;
        position: relative;
    }

    .box3:hover {
        animation: none;
    }

    .box3 h2 {
        position: absolute; 
        font-size: 1.5em;
    
        text-align: center;
        margin-left: -10px;
        margin-top: -10px;
    }



    .b4 {
        width: 340px;
        height: 370px;
        position: relative;
        margin-left: 5px;
        margin-top: -40px;
    }

    .mfp {
        width: 315px;
        height: 323px;
        position: absolute;
        z-index: 1;
        margin-top: -6px;
        margin-left: 18px;
    }

    .b5Text {
        width: 300px;
        height: 50px;
        position: absolute;

        margin-top: 30px;
        margin-left: 25px;
        
        text-align: center;
    }

    .b5 {
        width: 330px;
        height: 220px;
        margin-top: -55px;
        margin-left: 10px;
    }

    .b5Text h3 {
        font-size: 1.7em;
        text-align: center;
    }

    .b5Text:hover{
        width: 305px;
        height: 175px;
        margin-top: -24px;
        margin-left: 23px;
        background-color: #110f11;
        transition: ease-in 0.2s;
    
        padding-left: 5px;
        padding-right: 5px;
    }

    .b5Text:hover p {
        font-size: 1em;
        text-align: center;
        visibility: visible;
        margin-top: 20px;
    }



    .goBtn {
        display: inline-block;
        font-size: 2em;
        
        margin-left: -250px;
        margin-top: 200px;
        position: relative;

        border-radius: 39px;
	    padding: 15px 67px;
    }

}



@media only screen and (max-width: 786px) {
    .body {
        margin: 0;
        padding: 0;
        border: none;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
    }

    .box1 {
        width: 130px;
        height: 150px;
        margin-left: -400px;
    }



    .box2 {
        width: 330px;
        height: 210px;
        margin-left: -633px;
        margin-top: 150px;
        text-align: center;
    }

    .b2 {
        display: inline-block;
        width: 310px;
        height: 200px;
        position: relative;

    }

    .box2:hover {
        animation: none;
    }

    .box2 h1 {
        position: absolute; 
        font-size: 3em;
    
        text-align: center;
        margin-top: -20px;

    }



    .box3 {
        width: 300px;
        height: 190px;
        margin-left: -187px;
        margin-top: 210px;
        text-align: center;
    }

    .b3 {
        display: inline-block;
        width: 340px;
        height: 210px;
        position: relative;
    }

    .box3:hover {
        animation: none;
    }

    .box3 h2 {
        position: absolute; 
        font-size: 1.5em;
    
        text-align: center;
        margin-left: -10px;
        margin-top: -10px;
    }



    .b4 {
        width: 340px;
        height: 370px;
        position: relative;
        margin-left: 5px;
        margin-top: -40px;
    }

    .mfp {
        width: 315px;
        height: 323px;
        position: absolute;
        z-index: 1;
        margin-top: -6px;
        margin-left: 18px;
    }

    .b5Text {
        width: 300px;
        height: 50px;
        position: absolute;

        margin-top: 30px;
        margin-left: 25px;
        
        text-align: center;
    }

    .b5 {
        width: 330px;
        height: 220px;
        margin-top: -55px;
        margin-left: 10px;
    }

    .b5Text h3 {
        font-size: 1.7em;
        text-align: center;
    }

    .b5Text:hover{
        width: 305px;
        height: 175px;
        margin-top: -24px;
        margin-left: 23px;
        background-color: #110f11;
        transition: ease-in 0.2s;
    
        padding-left: 5px;
        padding-right: 5px;
    }

    .b5Text:hover p {
        font-size: 1em;
        text-align: center;
        visibility: visible;
        margin-top: 20px;
    }



    .goBtn {
        display: inline-block;
        font-size: 2em;
        
        margin-left: -250px;
        margin-top: 200px;
        position: relative;

        border-radius: 39px;
	    padding: 15px 67px;
    }
}







@media only screen and (min-width: 1920px) {
	.row {
		margin-left: 270px;
	}
	
	
	.box1{
		top: 20px;
    }
    
    .box1 h1 {
        font-size: 7vw;
        left: 125px;
        top: 65px;
    }
    
    
	.box2{
		top: -60px;
    }
    
    .box2 h1 {
        font-size: 4vw;
        top: 90px;
    }

	
	.box3{
		top: -275px;
    }
    
    .box3 h2 {
        font-size: 1.7vw;
    }
	
	
	.b4 {
		margin-left: 340px;
	}
	
	.mfp {
		margin-left: 360px;
	}
	
	.b5Text h3 {
    		font-size: 3vw;
	}
	
	.b5Text:hover p {
	    font-size: 1.4vw;
	    margin-top: -85px;
	}
}
