 @import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
    background: #F3C7C4;
}



/* Sidebar column */ 
.leftCol {
    background-color: #0F5257;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 20%;
    padding-left: 0px;
    padding-right: 0px;
    height: 700px;
    overflow-x: hidden;
    text-align: center;
    color: #F2F2F2;
    font-family: 'Bebas Neue', cursive;
    text-shadow: -2px 2px 3px rgba(196, 160, 255, 0.9);
}

/* Line bar underneath the name */
.leftCol hr {
    color: #F2F2F2;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    border-width: 1px;
    box-shadow: -2px 2px 3px rgba(196, 160, 255, 0.9);
    margin-bottom: 50px;
}

/* Name */
.leftCol h1 {
    margin-top: 20px;
    font-size: 80px; 
    letter-spacing: 3px;
}

/* Info section */
.leftCol h2 {
    font-size: 40px;
    letter-spacing: 3px;
    padding: 10px;
}



/* Link effects */
a {
    text-shadow: -2px 2px 3px rgba(196, 160, 255, 0.9);
    color: #F2F2F2;
    text-decoration: none;
}

a:hover {
    text-shadow: -2px 2px 3px rgba(196, 160, 255, 0.9), 0 0 30px purple, 0 0 15px pink;
    font-style: italic;
}



/* Boxes */
{
    box-sizing: border-box;
}

/* Refers to all boxes overall */
 .col {
    column-count: 1; 
    float: center;
    width: 900px;
    height: 9900px;
    background-color: #F2F2F2;
    padding: 10px;
    box-shadow: -10px 10px #0F5257;
    border-style: solid;
    border-color: #0F5257;
    margin-left: 400px;
    margin-top: 40px; 
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.col:hover {
    box-shadow: -10px 10px #082D30;
}



/* Images */
img {
    width: 300px;
    height: 450px;
}



.col h1 {
    text-align: center;
    color: #171717;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-shadow: -2px 2px 3px rgba(196, 160, 255, 0.9);
}

.col hr {
    color: black;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 110px;
    border-width: 2px;
}

.col h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Roboto', 'bold';
    font-weight: bold;
    text-shadow: -2px 2px 3px rgba(196, 160, 255, 0.9);
    font-size: 30px;
    padding-left: 20px;
}


.col h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Roboto', 'bold';
    font-weight: bold;
    text-shadow: -2px 2px 3px rgba(196, 160, 255, 0.9);
    font-size: 20px;
    padding-left: 20px;
    text-align: center;
}


.date {
    text-align: center; 
    font-family: 'Roboto', 'bold';
    margin-bottom: 0px;
    margin-top: 10px;
}

/* Images */
.main {
    width: 900px;
    height: 470px;
    margin-top: 10px;
}

.mfpCurrent1 {
    width: 230px;
    height: 500px;
    margin-left: 50px;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mfpCurrent2 {
    width: 480px;
    height: 500px;
    margin-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.compareApps {
    height: 440px;
    width: 200px;
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.review1 {
    height: 390px;
    width: 450px;
    margin-left: 35px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.review2 {
    height: 400px;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 20px;
}

.drawings1 {
    width: 440px;
    height:auto;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.drawings2 {
    width: 440px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.homepageVariety {
    height: 800px;
    width: 850px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 10px;
    padding-left: 10px;
    position: center;
}

.mainThree {
    width: 900px;
    height: auto;
    margin-top: 10px;
    position: center;
}

.logFood {
    height: 230px;
    width: 900px;
    position: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.homeGif {
    height: 600px;
    width: 470px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 190px;
}

.resizedGif {
    height: 600px;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 190px;
    padding-left: 10px;
}

.scrollGif{
    height: 600px;
    width: 470px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 190px;
    padding-left: 10px;
}

.resized2Gif {
    height: 500px;
    width: 240px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 40px;
}

.resized3Gif {
    height: 500px;
    width: 240px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 40px;
}




/* Text */
p {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    font-family: 'Roboto', 'bold';
    font-size: 18px;
}

.mfpCurrentCaption {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
}

.infographic {
    height: 600px;
    width: 400px;
    position: center;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 190px;
}

li {
    margin-top: 0px;
    font-family: 'Roboto', 'bold';
    font-size: 18px;
}

.compareAppsCaption {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
}

.thanks {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
}




/* Responsive resizing for mobile */
/* On screens that are less than 900px wide, make the sidebar into a topbar */
@media screen and (max-width: 900px) {
    .leftCol {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .leftCol a {
        float: center;
    }
    
    .leftCol h1 {
        padding-bottom: 0px;
        font-size: 10vw;
    }
    
    div.leftCol {
        margin-left: 0;
        }
    
     div.img {
        padding: 15px;
    }
}

/* On screens that are less than 500px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 500px) {
    .leftCol {
        height: auto;
        width: 100%;
    }
    
    .leftCol h1 {
        text-align: center;
        float: none;
        font-size: 8vw;
    }
    
    .leftCol h2 {
        text-align: center;
        float: none;
        font-size: 5vw;
    }
    
     div.img {
        padding: 15px;
    }
}
