@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); /* Roboto thin italics */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Montserrat */

html,body
{
    margin: 0px;
    background-color: #f8f8f8;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.body {
    margin: 0;
    border: none;
    font-size: 0;
}

* { 
    margin: 0; /* removes white bar on top */
    box-sizing: border-box;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 70px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f8f8f8; 
    border-radius: 70px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #efbfea; 
    border: 0.25px solid #c199fd;
    box-shadow: 0 0 20px #da78ff, 0 0 20px #bd17ff, 0 0 20px #fca8f7;
   
    border-radius: 70px;
}




/* nav bar */
.nav, .navbar-nav {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    justify-content: flex-end;
    float: right;
  }
  
  .nav a {
    color: #151515;
    margin-left: 10px;
  }
  
  .nav a:hover {
    background-color: transparent !important;
    text-shadow: 5px 3px 8px #ef9cff;
    transition: 0.4s;
    font-style: italic;
  }
  
  .nav:hover {
    background-color: transparent;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
    color: #151515;
    background-color: transparent;
  }
  
  .nav li:hover a {
    color: #151515;
    background-color: transparent;
  }
  
  .navbar-expand-md {
      justify-content: flex-end;
  }
  
  
/* Mode */
.dropdown { /* mode tab itself minus dropdown */
    font-style: normal;
}
  
.dropdown-menu { /* white hover box */
    text-decoration: none;
    background-color: transparent !important;
}
  
.dropdown-menu li a {
    color: #505050;
}
  
.dropdown-menu li { /* font size, panel bg color for collapse options */
    background-color: #f8f8f8;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}
  
.dropdown-menu a {
    opacity: 50%;
}
  
.dropdown-menu a:hover {
    color: #f0f0f0;
    text-shadow: 5px 3px 8px #ef9cff;
    transition: 0.4s;
    opacity: 100%;
}
  
.dropdown-menu li:hover a { /*when hovered over, single choice stays dark */
    background-color: transparent !important;
    font-style: italic;
  
    color: #151515;
    text-shadow: 5px 3px 8px #ef9cff;
    transition: 0.4s;
}
  
.dropdown-menu li:hover a { 
    background-color: transparent !important;
    font-style: italic;
}
  
.dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:visited { /* makes mode font white */
    color: #151515;
    background-color: transparent !important;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}
  







.container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.rPad {
    padding-left: 175px;
    padding-right: 175px;
}






.lineTop {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px -2px 12px #da78ff;
    margin-top: 10px;
}

.lineBottom {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px 2px 12px #da78ff;
    margin-top: 17px;
}

h1 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    color: #151515;
    text-align: center;
    
    margin-top: 15px;
}

.titleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 75%;
}

.publishP {
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw; 

    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}










h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    color: #151515;

    margin-top: 20px;
    text-align: center;
}

.lineTopBG {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px -2px 12px #da78ff;
    margin-top: 120px;

    margin-left: auto;
    margin-right: auto;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomBG {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px 2px 12px #da78ff;
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;

    /* border-radius: 50px; */
}


h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #151515;
    text-align: left;
    padding-top: 40px;
}

h3.UB {
    margin-top: -35px;
}

p {
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 23px; 
    margin-top: 3px;
    line-height: 30px;
}

.annotatedL {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-right: 8px;
    width: 64%;
}

.annotatedR {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 30.8%;
}

.reviewL {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-right: 8px;
    width: 55%;
}

.reviewR {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 41%;
}







.research {
    width: 100%;
    height: 395vh;
    display: block;
}

.researchText {
    width: 100%;
    height: 385vh;
    padding-left: 180px;
    padding-right: 181px;
}

.lineTopResearch {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px -2px 12px #da78ff;
    margin-top: 120px;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomResearch {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px 2px 12px #da78ff;
    margin-top: 20px;

    /* border-radius: 50px; */
}

.researchText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #151515;

    margin-top: 20px;
    text-align: center;
}

.researchText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #151515;
    text-align: left;
    padding-top: 40px;
}

.researchText p {
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}


.infographic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    width: 80%;
}

.calory {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    width: 32.25%;
}

.noom {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 33%;
}

.carbmanager {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 33%;
}














.process {
    width: 100%;
    height: 785vh;
    display: block;
}

.processText {
    width: 100%;
    height: 775vh;
    padding-left: 180px;
    padding-right: 181px;
}

.lineTopProcess {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px -2px 12px #da78ff;
    margin-top: 120px;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomProcess {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px 2px 12px #da78ff;
    margin-top: 20px;

    /* border-radius: 50px; */
}

.processText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #151515;

    margin-top: 20px;
    text-align: center;
}

.processText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #151515;
    text-align: left;
    padding-top: 40px;
}

.processText p {
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}


.drawingL {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    width: 49%;
}

.drawingR {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 49.6%;
}

.homepagesVariety {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.prototype {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.homepages {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.logFood {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.homeGif {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;

    width: 38%;
}

.homeToLogFoodGif {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;

    width: 30.5%;
}

.logFoodScroll {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;

    width: 30.5%;
}

.logFoodAddResize {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;

    width: 32.5%;
}

.logFoodReturn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;

    width: 33%;
}

.logFoodReturnLog {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;

    width: 33%;
}











.conclusion {
    width: 100%;
    height: 70vh;
    display: block;
}

.conclusionText {
    width: 100%;
    height: 70vh;
    padding-left: 180px;
    padding-right: 181px;
}

.lineTopConclusion {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px -2px 12px #da78ff;
    margin-top: 120px;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomConclusion {
    width: 100%;
    border: 3px solid #eb87ff;
    box-shadow: 1px 2px 12px #da78ff;
    margin-top: 20px;

    /* border-radius: 50px; */
}

.conclusionText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #151515;

    margin-top: 20px;
    text-align: center;
}

.conclusionText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #151515;

    margin-top: 20px;
    text-align: center;
}

.conclusionText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #151515;
    text-align: left;
    padding-top: 40px;
}

.conclusionText p {
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}





@media only screen and (max-width: 400px) {
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }

    .h3 {
        font-size: 1.7em;
    }

    .p {
        font-size: 0.9em;
        line-height: 20px;
    }


    /* 1 */
    .titleImg {
        width: 100%;
    }

    .publishP {
        font-size: 1em;
    }

    .annotatedL {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }

    .annotatedR {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }


    /* 2 */
    .calory {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }

    .noom {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }

    .carbmanager {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }
    

    /* 3 */
    .homeGif {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }

    .homeToLogFoodGif {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }

    .logFoodScroll {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }
    
    .logFoodAddResize {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }

    .logFoodReturn {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }

    .logFoodReturnLog {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
    }
}



@media only screen and (max-width: 576px) {
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }

    h3 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
        line-height: 20px;
    }


    /* 1 */
    .lineTopBG {
        margin-top: 80px;
    }

    .titleImg {
        width: 100%;
    }

    .publishP {
        font-size: 1em;
    }

    .annotatedL {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-top: -40px;
    }

    .annotatedR {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-top: -40px;
        margin-bottom: -40px;
    }


    /* 2 */
    .lineTopResearch {
        margin-top: 70px;
    }


    .infographic {
        margin-top: -40px;
        margin-bottom: -40px;
    }

    .calory {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    .noom {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-bottom: -40px;
    }

    .carbmanager {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-bottom: -50px;
    }
    

    /* 3 */
    .lineTopProcess {
        margin-top: 120px;
    }

    .drawingL {
        margin-top: -40px;
    }

    .drawingR {
        margin-top: -40px;
    }

    .prototype {
        margin-bottom: -40px;
    }

    .homepages {
        padding-top: 10px;
    }

    .logFood {
        padding-top: 5px;
    }

    .homeGif {
        margin-left: 45px;
        margin-right: 0;
        width: 71%;
        margin-top: -20px;
    }

    .homeToLogFoodGif {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-top: -20px;
    }

    .logFoodScroll {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-top: -20px;
        margin-bottom: -40px;
    }
    
    .logFoodAddResize {
        margin-left: 45px;
        margin-right: 0;
        width: 71%;
        margin-top: -40px;
    }

    .logFoodReturn {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-top: -40px;
    }

    .logFoodReturnLog {
        margin-left: 50px;
        margin-right: 0;
        width: 70%;
        margin-top: -40px;
        margin-bottom: -50px;
    }


    /* 4 */
    .lineTopConclusion {
        margin-top: 120px;
    }
}
