:root {
    --white: #f0f0f0;
    --blue: #2542D7;
    --pink: #ec2689;
    --purple: #862EDE;
}

html,body
{
    background-color: #151515;
    font-family: "Mulish", sans-serif;
    color: #f0f0f0;
    padding: 20px;
}

.row {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
    margin-bottom: 6em;
}

/* Logo */
.navbar-brand .logo{
    width: 12%;
    margin-left: 10px;
    margin-top: 20px;
}

/* Navbar */
.nav, .navbar-nav {
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    justify-content: flex-end;
    float: right;
    list-style-type: none;
    font-family: "Mulish", sans-serif;
    color: #f0f0f0;
    margin-top: -20px;
    margin-right: -30px;
}

.nav a {
    color: var(--white);
    padding: 25px;
}

.nav a:hover {
    font-style: italic;
    text-decoration: none;
    transition: 0.4s;
    text-shadow:
      0 0 2px #fff, /* blur */
      0 0 1px #fff, /* blur shadow */
      0 0 2px var(--pink), /* blur shadow */
      0 0 14px var(--blue), /* outer shadow */
      0 0 5px var(--purple), /* outer top shadow */
      0 0 5px var(--blue), /* inner shadow */
      0 0 5px var(--pink),
      0 0 14px var(--pink); /* outer shadow */
}
  
.nav:hover {
    background-color: transparent;
}
  
.navbar-collapse {
    justify-content: flex-end;
    color: #f0f0f0;
    background-color: transparent;
}
  
.nav li:hover a {
    color: #f0f0f0;
    background-color: transparent;
}
  
.navbar-expand-md {
      justify-content: flex-end;
}




h1 {
    font-weight: bold;
    font-family: "Geometos";
    font-size: 3.75em;
    text-align: center;
    display: inline;
    width: 100%;
}

h2 {
    font-weight: bold;
    font-family: "Geometos";
    display: inline;
    font-size: 2.2em;
    margin-top: 1.25em;
    width: 100%;
    text-align: center;

    text-shadow:
      0 0 2px #fff, /* blur */
      0 0 1px #fff, /* blur shadow */
      0 0 2px var(--pink), /* blur shadow */
      0 0 14px var(--blue), /* outer shadow */
      0 0 5px var(--purple), /* outer top shadow */
      0 0 5px var(--blue), /* inner shadow */
      0 0 5px var(--pink),
      0 0 14px var(--pink); /* outer shadow */
}

.button {
    background: none;
    text-decoration: inherit;
    font-size: 1rem;
    padding: 1rem 2rem;
}

h3 {
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    display: inline;
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5em;
}

p {
    font-family: "Mulish", sans-serif;
    font-size: 1.2em;
    display: inline;
}

a {
    color: var(--white);
}

a:hover {
    color: var(--white);
    font-style: italic;
    text-decoration: none;
    transition: 0.4s;
    text-shadow:
      0 0 2px #fff, /* blur */
      0 0 1px #fff, /* blur shadow */
      0 0 2px var(--pink), /* blur shadow */
      0 0 14px var(--blue), /* outer shadow */
      0 0 5px var(--purple), /* outer top shadow */
      0 0 5px var(--blue), /* inner shadow */
      0 0 5px var(--pink),
      0 0 14px var(--pink); /* outer shadow */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    margin-top: 2.5em;
}





/* Background */
.headerImg {
    width: 100%;
}

.text {
    display: inline;
}



/* User Findings */
.MM_Miro, .lusaka, .abtBodoni {
    margin-bottom: 2.5em;
}


.img-fluid {
    display: inline;
}

/* lofi img */
.finalCol1 .lofiLanding {
    width: 80%;
}

.finalCol2 .lofiLandingMobile {
    width: 83.8%;
}

/* final img */
.h3Portfolio { /* these specific h3 acts up for some odd reason */
    text-align: left;
    width: 100%;
    display: flex;
}

.img-fluid {
    margin-bottom: 2.5em;
}

.finalCol1 {
    width: 70%;
    float: left;
}

.finalCol2 {
    width: 30%;
    float: right;
}

.finalCol1 img {
    width: 96%;
    margin-left: 2em;
}

/* mobile images */
.finalCol2 .homeMobile {
    width: 55.8%;
}

.finalCol2 .portfolioMobile {
    width: 40.5%;
}

.finalCol2 .portfolioDetailsMobile {
    width: 53.7%;
}

.finalCol2 .shopMobile {
    width: 35.2%;
}

.finalCol2 .shopDetailsMobile {
    width: 40.7%;
}



/* footer */
footer {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 50px;
    width: 100%;
    padding: 20px;
}

footer p {
    font-size: 1rem;
}

.icons {
    float: right;
}

.icons a {
    color: var(--white);
    text-decoration: none;
}

i {
    margin-left: 20px;
    font-size: 20px;
}

.bi-postcard-heart:hover {
    color: var(--purple); 
    transition: 0.4s;
    text-shadow:
      0 0 1px #fff, /* blur */
      0 0 1px #fff, /* blur */
      0 0 1px var(--blue), /* outer shadow */
      0 0 1px var(--purple), /* outer top shadow */
      0 0 1px var(--pink);
}

.bi-linkedin:hover {
    color: #0072b1; 
    transition: 0.4s;
    text-shadow:
      0 0 1px #fff, /* blur */
      0 0 1px var(--blue), /* blur shadow */
      0 0 1px var(--blue), /* outer shadow */
      0 0 1px var(--blue), /* outer top shadow */
      0 0 1px var(--blue), /* inner shadow */
      0 0 1px var(--blue),
      0 0 1px var(--blue); /* outer shadow */
}

.bi-dribbble:hover {
    color: #ea4c89; 
    transition: 0.4s;
    text-shadow:
      0 0 1px #fff, /* blur */
      0 0 1px var(--pink), /* blur shadow */
      0 0 1px var(--pink), /* outer shadow */
      0 0 1px var(--pink), /* outer top shadow */
      0 0 1px var(--pink), /* inner shadow */
      0 0 1px var(--pink),
      0 0 1px var(--pink); /* outer shadow */
}















/* Desktop */
@media only screen and (min-width: 1920px) {
    .nav, .navbar-nav {
        font-size: 1.35rem;
    }

    .cont-flu {
        margin-top: 40px;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.65rem;
    }

    p {
        font-size: 1.35rem;
    }

    .img {
        width: 80%;
    }

    .headerImg {
        width: 75%;
    }

    .abtBodoni {
        width: 70%;
    }
}






/* Mobile*/
@media only screen and (max-width: 767.98px) {
    html,body {
        padding: 10px;
    }

    /* navbar */
    .navbar-toggler, .navbar-dark {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }

    .navbar-brand {
        visibility: hidden;
    }

    .navbar-expand-md {
        margin-left: 350px;
        margin-bottom: 40px;
    }

    .collapse.show {
        margin-left: -90px;
        line-height: 40px;
    }

    .nav, .navbar-nav {
        font-size: 1.1rem;
        animation: unset;
        opacity: 1;
    }

    .nav a {
        margin-right: 40px;
    }

    .row {
        width: auto;
        padding: 15px;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.65em;
    }

    h3 {
        font-size: 1.25em;
    }

    p {
        font-size: 1em;
    }

    img {
        width: 100%;
    }
}