@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); /* Roboto thin italics */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Montserrat */

/* Guidelines */
/* text under pic padding-bottom: 25px;
pic space between: 15px
*/



html,body
{
    margin: 0px;
    background-color: #151515;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.body {
    margin: 0;
    border: none;
    font-size: 0;
}

* { 
    margin: 0; /* removes white bar on top */
    box-sizing: border-box;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 70px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #3a3a3a; 
    border-radius: 70px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #33bc4d; 
    border: 0.25px solid #ff0000;
    box-shadow: 0 0 20px #e22424, 0 0 20px #1fff17, 0 0 20px #ff6c17;
    border-radius: 70px;
}




/* nav bar */
.nav, .navbar-nav {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    justify-content: flex-end;
    float: right;
  }
  
  .nav a {
    color: #f0f0f0;
    margin-left: 10px;
  }
  
  .nav a:hover {
    background-color: transparent !important;
    text-shadow: 5px 3px 8px #36f358;
    transition: 0.4s;
    font-style: italic;
  }
  
  .nav:hover {
    background-color: transparent;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .nav li:hover a {
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .navbar-expand-md {
      justify-content: flex-end;
  }
  
  
  /* Mode */
  .dropdown { /* mode tab itself minus dropdown */
    font-style: normal;
  }
  
  .dropdown-menu { /* white hover box */
    text-decoration: none;
    background-color: transparent !important;
  }
  
  .dropdown-menu li a {
    color: #000000;
  }
  
  .dropdown-menu li { /* font size for collapse options */
    background-color: #831919;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
  }
  
  /*.dropdown-menu a {
    opacity: 50%;
  } */
  
  .dropdown-menu a:hover {
    color: #ffffff;
    text-shadow: 5px 3px 8px #36f358;
    transition: 0.4s;
    opacity: 100%;
  }
  
  .dropdown-menu li:hover a { /*when hovered over, single choice stays white */
    background-color: transparent !important;
    font-style: italic;
  
    color: #ffffff;
    text-shadow: 5px 3px 8px #36f358;
    transition: 0.4s;
}
  
  .dropdown-menu li:hover a { 
    background-color: transparent !important;
    font-style: italic;
  }
  
  .dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:visited { /* makes mode font white */
    color: #ffffff;
    background-color: transparent !important;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
  }
  





  .scroll {
    color: #000000;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #36f358;
    border-radius: 30px;
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: #36f358;
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}









  




.container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.rPad {
    padding-left: 175px;
    padding-right: 175px;
}






.lineTop {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px -2px 12px #1fff17;
    margin-top: 10px;
}

.lineBottom {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px 2px 12px #1fff17;
    margin-top: 17px;
}

h1 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    color: #f0f0f0;
    text-align: center;
    
    margin-top: 15px;
}

.titleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 65%;
}

.publishP {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw; 

    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}









/* Background */
h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    color: #f0f0f0;

    margin-top: 20px;
    text-align: center;
}

.lineTopBG {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px -2px 12px #1fff17;
    margin-top: 120px;

    margin-left: auto;
    margin-right: auto;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomBG {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px 2px 12px #1fff17;
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;

    /* border-radius: 50px; */
}


h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #f0f0f0;
    text-align: left;
    padding-top: 40px;
}

h3.UB {
    margin-top: -35px;
}

p {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 23px; 
    margin-top: 3px;
    line-height: 30px;
}

.text a {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.text a:hover {
    font-style: italic;
    text-shadow: 5px 3px 8px #36f358;
    transition: 0.4s;
}











.research {
    width: 100%;
    height: 380vh;
    display: block;
}

.researchText {
    width: 100%;
    height: 380vh;
    padding-left: 180px;
    padding-right: 181px;
}

.lineTopResearch {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px -2px 12px #1fff17;
    margin-top: 120px;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomResearch {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px 2px 12px #1fff17;
    margin-top: 20px;

    /* border-radius: 50px; */
}

.researchText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #f0f0f0;

    margin-top: 20px;
    text-align: center;
}

.researchText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #f0f0f0;
    text-align: left;
    padding-top: 40px;
}

.researchText p {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 75%;
}

.competitor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 75%;
}

.cardSort {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 75%;
}

.cardSortSample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 75%;
}

.usabilityTest {
    display: inline-block;
    margin-left: 145px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 8px;
    width: 75%;
}

.BHuserflow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 75%;
}

.BHheatmap {
    display: inline-block;
    margin-left: 145px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 8px;
    width: 37%;
}

.EBheatmap {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 37%;
}













.process {
    width: 100%;
    height: 770vh;
    display: block;
}

.processText {
    width: 100%;
    height: 775vh;
    padding-left: 180px;
    padding-right: 181px;
}

.lineTopProcess {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px -2px 12px #1fff17;
    margin-top: 120px;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomProcess {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px 2px 12px #1fff17;
    margin-top: 20px;

    /* border-radius: 50px; */
}

.processText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #f0f0f0;

    margin-top: 20px;
    text-align: center;
}

.processText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #f0f0f0;
    text-align: left;
    padding-top: 40px;
}

.processText p {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}

.BHwireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 75%;
}

.compareWireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 75%;
}

.theme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 75%;
}

.planPre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 75%;
}

.BHpre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
}

.notifyPre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 75%;
}

.BHitinPre {
    display: inline-block;
    margin-left: 50px; /* try only left*/
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    width: 45%;
}

.BFitinPre {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 45%;
}

/* Final designs */
.planTripFinal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 75%;
}

.PTscroll {
    display: inline-block;
    margin-left: 80px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 28%;
}

.manageItin {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 28%;
}

.manageItinConfirm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 28%;
}

/* Book flight */
.BFtime {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 75%;
}

.BFswitch {
    display: inline-block;
    margin-left: 60px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BFtwTo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BFcalendar {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BFsouthwest {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}


.BFfilter {
    display: inline-block;
    margin-left: 60px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BFsort {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BFdeets {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BFconfirm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BFpayment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}


/* Book hotel */
.BHto {
    display: inline-block;
    margin-left: 60px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BHcalendar {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BHtimeswitch {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BH {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}


.BHfilter {
    display: inline-block;
    margin-left: 60px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BHsort {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BHdeets {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}

.BHamenities {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 22%;
}


.BHpayment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}

.BHnotify {
    display: inline-block;
    margin-left: 80px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 28%;
}

.BHcompare {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 28%;
}

.BHconfirm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 28%;
}















.conclusion {
    width: 100%;
    height: 70vh;
    display: block;
}

.conclusionText {
    width: 100%;
    height: 70vh;
    padding-left: 180px;
    padding-right: 181px;
}

.lineTopConclusion {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px -2px 12px #1fff17;
    margin-top: 120px;

    /* border-radius: 50px; */ /* makes rounded corner */
}

.lineBottomConclusion {
    width: 100%;
    border: 3px solid #15e631;
    box-shadow: 1px 2px 12px #1fff17;
    margin-top: 20px;

    /* border-radius: 50px; */
}

.conclusionText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #f0f0f0;

    margin-top: 20px;
    text-align: center;
}

.conclusionText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #f0f0f0;

    margin-top: 20px;
    text-align: center;
}

.conclusionText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #f0f0f0;
    text-align: left;
    padding-top: 40px;
}

.conclusionText p {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}










@media only screen and (max-width: 400px) {
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }

    h3 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.1em;
        line-height: 20px;
    }


    /* Bg */
    .titleImg {
        width: 100%;
    }

    .publishP {
        font-size: 1em;
    }


    /* 2 */
    



    

    /* 3 */
    
}



@media only screen and (max-width: 576px) { /* Pixel 2 */
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }

    h3 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
        line-height: 20px;
    }


    /* 1 */
    .lineTopBG {
        margin-top: 80px;
    }

    .titleImg {
        width: 100%;
    }

    .publishP {
        font-size: 1em;
    }



    /* 2 */
    .lineTopResearch {
        margin-top: 50px;
    }

    .map {
        width: 80%;
    }

    .competitor {
        width: 80%;
        padding-top: 5px;
    }

    .cardSort {
        width: 80%;
    }

    .cardSortSample {
        width: 80%;
        padding-top: 5px;
    }

    .usabilityTest {
        width: 80%;
    }

    .BHuserflow {
        width: 80%;
    }

    .BHheatmap {
        width: 47%;
        margin-left: 10px;
        padding-top: 0px;
    }

    .EBheatmap {
        width: 47%;
        padding-top: 0px;
    }

    
    

    /* 3 */
    .lineTopProcess {
        margin-top: 50px;
    }

    .BHwireframe {
        width: 80%;
    }

    .compareWireframe {
        width: 100%;
        padding-top: 5px;
    }
    
    .theme {
        width: 80%;
    }

    .planPre {
        width: 80%;
        padding-top: 0px;
    }


    .BHpre {
        width: 80%;
        padding-top: 0px;
    }

    .notifyPre {
        width: 80%;
        padding-top: 0px;
    }

    .BHitinPre {
        width: 49%;
        padding-top: 0px;
        margin-left: 0px;
    }

    .BFitinPre {
        width: 49%;
        padding-top: 0px;
    }


    .planTripFinal {
        width: 80%;
    }

    .PTscroll {
        width: 30%;
        padding-top: 0px;
        margin-left: 15px;
    }

    .manageItin {
        width: 30%;
        padding-top: 0px;
    }

    .manageItinConfirm { 
        width: 30%;
        padding-top: 0px;
    }


    .BFtime {
        width: 80%;
        padding-top: 0px;
    }


    .BFswitch {
        width: 22%;
        padding-top: 0px;
        margin-left: 15px;
    }

    .BFtwTo {
        width: 22%;
        padding-top: 0px;
    }

    .BFcalendar {
        width: 22%;
        padding-top: 0px;
    }

    .BFsouthwest {
        width: 22%;
        padding-top: 0px;
    }


    .BFfilter {
        width: 22%;
        padding-top: 0px;
        margin-left: 15px;
    }

    .BFsort {
        width: 22%;
        padding-top: 0px;
    }

    .BFdeets {
        width: 22%;
        padding-top: 0px;
    }

    .BFconfirm {
        width: 22%;
        padding-top: 0px;
    }

    .BFpayment {
        width: 80%
    }


    .BHto {
        width: 22%;
        padding-top: 0px;
        margin-left: 15px;
    }

    .BHcalendar {
        width: 22%;
        padding-top: 0px;
    }

    .BHtimeswitch {
        width: 22%;
        padding-top: 0px;
    }

    .BH {
        width: 22%;
        padding-top: 0px;
    }


    .BHfilter {
        width: 22%;
        padding-top: 0px;
        margin-left: 15px;
    }

    .BHsort {
        width: 22%;
        padding-top: 0px;
    }
    
    .BHdeets {
        width: 22%;
        padding-top: 0px;
    }
    
    .BHamenities {
        width: 22%;
        padding-top: 0px;
    }

    .BHpayment {
        width: 80%;
        padding-top: 0px;
    }
    

    .BHnotify {
        width: 30%;
        padding-top: 0px;
        margin-left: 15px;
    }

    .BHcompare {
        width: 30%;
        padding-top: 0px;
    }

    .BHconfirm {
        width: 30%;
        padding-top: 0px;
    }


    /* 4 */
    .lineTopConclusion {
        margin-top: 50px;
    }
}