@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); /* Roboto thin italics */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@1,500;1,700&display=swap'); /* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');
/* Guidelines */
/* text under pic padding-bottom: 25px;
pic space between: 15px
*/



html,body
{
    margin: 0px;
    background-color: #151515;

    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}

.body {
    margin: 0;
    border: none;
    font-size: 0;
}

* { 
    margin: 0; /* removes white bar on top */
    box-sizing: border-box;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 70px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #212121; 
    border-radius: 70px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a417ff; 
    border: 0.25px solid #ff2088;
    box-shadow: 0 0 20px #ff17b9, 0 0 20px #ff17ec, 0 0 20px #ff17b9;
    border-radius: 70px;
}




/* nav bar */
.nav, .navbar-nav {
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    justify-content: flex-end;
    float: right;
  }
  
  .nav a {
    color: #f0f0f0;
    margin-left: 10px;
  }
  
  .nav a:hover {
    background-color: transparent !important;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
    font-style: italic;
  }
  
  .nav:hover {
    background-color: transparent;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .nav li:hover a {
    color: #f0f0f0;
    background-color: transparent;
  }
  
  .navbar-expand-md {
      justify-content: flex-end;
  }
  
  
  /* Mode */
  .dropdown { /* mode tab itself minus dropdown */
    font-style: normal;
  }
  
  .dropdown-menu { /* white hover box */
    text-decoration: none;
    background-color: transparent !important;
  }
  
  .dropdown-menu li a {
    color: #646464;
  }
  
  .dropdown-menu li { /* font size for collapse options */
    background-color: #212121;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
  }
  
  /*.dropdown-menu a {
    opacity: 50%;
  } */
  
  .dropdown-menu a:hover {
    color: #f0f0f0;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
    opacity: 100%;
  }
  
  .dropdown-menu li:hover a { /*when hovered over, single choice stays white */
    background-color: transparent !important;
    font-style: italic;
  
    color: #f0f0f0;
    text-shadow: 5px 3px 8px rgb(166, 33, 255);
    transition: 0.4s;
  }
  
  .dropdown-menu li:hover a { 
    background-color: transparent !important;
    font-style: italic;
  }
  
  .dropdown-toggle:focus, .dropdown-toggle:active, .dropdown-toggle:visited { /* makes mode font white */
    color: #f0f0f0;
    background-color: transparent !important;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}








footer {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
    background-color: #151515;
    color: #f0f0f0;
}

/* social media buttons */
.fa:hover {
    transition: 0.4s;
    color: #f0f0f0;
    text-decoration: none;
}  

.fa-envelope {
    background: #151515;
    color: #f0f0f0;
}

.fa-envelope:hover {
    background: #ad3f2b;
    color: #f0f0f0;
}

.fa-linkedin {
    background: #151515;
    color: #f0f0f0;
}

.fa-linkedin:hover {
    background: #0e76a8;
    color: #f0f0f0;
}

.fa-dribbble {
    background: #151515;
    color: #f0f0f0;
}

.fa-dribbble:hover {
    background: #ea4c89;
    color: #f0f0f0;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}

.social-icons li
{
  display:inline-block;
}

.fa {
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .4s linear
}

footer .social-icons
{
    text-align:right
}

.social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#151515;
}

footer p {
    font-family: Roboto;
    font-weight: 100;
    display: inline-block;
    text-align: left;
    padding-right: 1030px;
    color: #f0f0f0;
    font-size: 15px;
} 








  




.container-fluid {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.rPad {
    padding-left: 175px;
    padding-right: 175px;
}






.lineTop {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px -2px 12px #d817ff;
    margin-top: 10px;
}

.lineBottom {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px 2px 12px #d817ff;
    margin-top: 17px;
}

h1 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    color: #f0f0f0;
    text-align: center;
    
    margin-top: 15px;
}

.titleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 45%;
}

.publishP {
    color: #f0f0f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw; 

    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.PTscroll, .BFdeets, .BHdeets {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 27%;
}

.gifsTop {
    margin-left: 210px;
}









/* Background */
h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    color: #f0f0f0;

    margin-top: 20px;
    text-align: center;
}

.lineTopBG {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px -2px 12px #d817ff;
    margin-top: 80px;

    margin-left: auto;
    margin-right: auto;

    /* border-radius: 50px; */ /* makes rounded corner */
}


.lineBottomBG {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px 2px 12px #d817ff;
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;

    /* border-radius: 50px; */
}


h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 3.4vh;
    color: #f0f0f0;
    text-align: left;
    padding-top: 40px;
}

h3.UB {
    margin-top: -35px;
}

p {
    color: #ececec;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 20px; 
    margin-top: 3px;
    line-height: 30px;
}

.text a {
    color: #ececec;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.text a:hover {
    font-style: italic;
    text-shadow: 4px 2px 7px rgb(166, 33, 255);
    transition: 0.4s;
}











.research {
    width: 100%;
    height: 380vh;
    display: block;
}

.researchText {
    width: 100%;
    height: 380vh;
    padding-left: 180px;
    padding-right: 181px;
}

.lineTopResearch, .lineTopProcess, .lineTopConclusion {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px -2px 12px #d817ff;
    margin-top: 80px;
}

.lineBottomResearch, .lineBottomProcess, .lineBottomConclusion {
    width: 100%;
    border: 3px solid #a417ff;
    box-shadow: 1px 2px 12px #d817ff;
    margin-top: 20px;
}

.researchText h2, .processText h2, .conclusionText h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 7vh;
    color: #ececec;

    margin-top: 20px;
    text-align: center;
}

.researchText h3, .processText h3, .conclusionText h3 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 4vh;
    color: #ececec;
    text-align: left;
    padding-top: 40px;
}

.researchText p, .processText p, .conclusionText p {
    color: #ececec;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw; 
    margin-top: 3px;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.competitor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}

.cardSort {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.cardSortSample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 55%;
}

.usabilityTest {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 8px;
    width: 55%;
}

.BHuserflow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.BHheatmap {
    display: inline-block;
    margin-left: 243px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 8px;
    width: 27.3%;
}

.EBheatmap {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 27.3%;
}













.process {
    width: 100%;
    height: 770vh;
    display: block;
}

.processText {
    width: 100%;
    height: 775vh;
    padding-left: 180px;
    padding-right: 181px;
}

.BHwireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.compareWireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 55%;
}

.theme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.planPre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}

.BHpre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 55%;
}

.notifyPre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 55%;
}

.BHitinPre {
    display: inline-block;
    margin-left: 50px; /* try only left*/
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    width: 45%;
}

.BFitinPre {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 45%;
}

/* Final designs */
.planTripFinal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.manageItin {
    display: inline-block;
    margin-left: 280px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 24%;
}

.manageItinConfirm {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 24%;
}

/* Book flight, hotel */
.bookFlightScreens, .bookHotelScreens {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 55%;
}

.BH, .BFtwTo {
    display: inline-block;
    margin-left: 140px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 24%;
}

.BFcalendar, .BFsort, .BHnotify, .BHcompare {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    width: 24%;
}
















.conclusion {
    width: 100%;
    height: 70vh;
    display: block;
}

.conclusionText {
    width: 100%;
    height: 70vh;
    padding-left: 180px;
    padding-right: 181px;
}











@media only screen and (max-width: 576px) { /* Pixel 2 */
    .container-fluid {
        overflow: auto;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    
    .rPad {
        padding-left: 0;
        padding-right: 0;
    }


    footer p {
        padding-right: 0;
        margin-top: 100px;
    }

    footer {
        padding-right: 55px;
    }

    footer .social-icons {
        text-align: right;
        margin-left: -40px;
    }

    .social-icons li {
        padding-left: 0;
        padding-right: 0;
    }

    



    h3 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
        line-height: 20px;
    }


    /* 1 */
    .lineTopBG {
        margin-top: 40px;
    }

    .titleImg {
        width: 100%;
    }

    .gifsTop {
        margin-left: 0px;
    }

    .PTscroll {
        display: inline-block;
        width: 33%;
        padding-top: 10px;
        margin-left: 0px;
    }

    .BFdeets, .BHdeets {
        display: inline-block;
        width: 32%;
        padding-top: 10px;
    }

    .publishP {
        font-size: 1em;
    }


    /* 2 */
    .lineTopResearch {
        margin-top: 50px;
    }

    .map {
        width: 80%;
    }

    .competitor {
        width: 80%;
        padding-top: 5px;
    }

    .cardSort {
        width: 80%;
    }

    .cardSortSample {
        width: 80%;
        padding-top: 5px;
    }

    .usabilityTest {
        width: 80%;
    }

    .BHuserflow {
        width: 80%;
    }

    .BHheatmap {
        width: 47%;
        margin-left: 10px;
        padding-top: 0px;
    }

    .EBheatmap {
        width: 47%;
        padding-top: 0px;
    }

    
    

    /* 3 */
    .lineTopProcess {
        margin-top: 50px;
    }

    .BHwireframe {
        width: 80%;
    }

    .compareWireframe {
        width: 100%;
        padding-top: 5px;
    }
    
    .theme {
        width: 80%;
    }

    .planPre {
        width: 80%;
        padding-top: 0px;
    }


    .BHpre {
        width: 80%;
        padding-top: 0px;
    }

    .notifyPre {
        width: 80%;
        padding-top: 0px;
    }

    .BHitinPre, .BFitinPre {
        width: 49%;
        padding-top: 0px;
        margin-left: 0px;
    }

    .bookFlightScreens, .bookHotelScreens {
        width: 80%;
    }

    .BFtwTo, .BH {
        width: 25%;
        padding-top: 0px;
        margin-left: 45px;
    }

    .BFcalendar, .BFsort, .BHnotify, .BHcompare {
        width: 25%;
        padding-top: 0px;
    }

    .BFsort {
        width: 25%;
        padding-top: 0px;
    }

    .BFconfirm {
        width: 22%;
        padding-top: 0px;
    }

    .manageItin {
        width: 40%;
        margin-left: 40px;
    }

    .manageItinConfirm {
        width: 40%;
    }

    /* 4 */
    .lineTopConclusion {
        margin-top: 50px;
    }
}



@media only screen and (min-width: 1920px) { /* desktop */
    footer {
        margin-top: 100px;
        padding-bottom: 0px;
    }

    footer p {
        padding-right: 1520px;
    }

    h3 {
        font-size: 29px;
    }

    /* 1 */
    .PTscroll {
        margin-left: 45px;
    }

    /* 2 */
    .BHheatmap {
        margin-left: 390px;
        width: 25%
    }

    .EBheatmap {
        width: 25%;
    }

    .map, .competitor, .cardSort, .cardSortSample, .usabilityTest, .BHuserflow {
        width: 45%;
    }

    /* 3 */
    .BHwireframe, .compareWireframe, .theme, .planPre, .BHpre, .notifyPre {
        width: 45%;
    }

    .manageItin {
        margin-left: 315px;
    }

    .BFfilter {
        margin-left: 260px;
    }

    .BHfilter {
        margin-left: 260px;
    }

    .BH, .BFtwTo {
        width: 20%;
        margin-left: 300px;
    }

    .BFcalendar, .BFsort, .BHnotify, .BHcompare {
        width: 20%;
    }


    /* 4 */
    .manageItin {
        margin-left: 440px;
        width: 20%;
    }

    .manageItinConfirm {
        width: 20%;
    }
}
